:local(.productItem) {
  display: block;
  padding: 1rem;
  width: 8rem;
  height: 2rem;
  background: whitesmoke;
  border-bottom: 2px solid gray;
}

:local(.productItem button) {
  float: right;
}

:local(.title) {
}

:local(.value:before) {
  content: ' - $'
}
